/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   General
   ========================================================================== */

@font-face {
    font-family: 'Garage Gothic FB Black';
    src: url('../assets/Garage-Gothic-FB-Black.otf') format('opentype');
}

@font-face {
    font-family: 'Garage Gothic FB Bold';
    src: url('../assets/Garage-Gothic-FB-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'Garage Gothic FB Regular';
    src: url('../assets/Garage-Gothic-FB-Regular.otf') format('opentype');
}

body {
  background: #000;
}

/* ==========================================================================
   Ticker Title
   ========================================================================== */

.ticker-title {
  position: fixed;
  padding: 0 15px;
  background: #e30613;
  height: 64px;
  line-height: 73px;
  z-index: 10;
  border-left: 13px solid #A51008;
}

.ticker-title h1 {
  font-family: 'Garage Gothic FB Bold', 'Asap Condensed';
  margin: 0;
  font-size: 45px;
  color: #fff;
}


#webTicker {
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  height: 64px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  background: #fff;
}

.tweets {
  display: inline-block;
  /*padding-left: 100%;*/
  /*animation: marquee 10s linear infinite;*/
}

.tweet {
  display: inline-block;
}


/* ==========================================================================
   Tweets
   ========================================================================== */

   .tweet {
     font-family: 'Garage Gothic FB Regular', 'Asap Condensed';
     font-size: 30px;
     color: #3c3c3b;
     padding: 0 !important;
     display: flex;
     align-items: center;
   }

   .tweet::after {
     content: "";
     display: inline-block;
     margin: 0 32px !important;
     width: 2px;
     height: 45px;
     background: lightgrey;
     vertical-align: middle;
   }

   .tweet img {
     vertical-align: middle;
     margin: 0 12px 0 8px;
   }

   .tweet .image-attached {
     max-height: 64px;
     margin: 0;
     margin-left: 12px;
   }

   .author {
     padding-right: 12px;
     font-family: 'Garage Gothic FB Bold', 'Asap Condensed';
   }


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
